html,
body,
#root,
.app,
.room {
  height: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.room {
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
}
.room.lit {
  background: #fff;
  color: #222;
}
.room.dark {
  background: #222;
  color: white;
}
