body {
  font-family: sans-serif;
}

.target-icon {
  margin-right: 10px;
  display: inline-block;
}

.separator {
  padding: 0 10px;
}

button {
  border: 2px solid #ccc;
  padding: 10px;
  background-color: #fff;
  border-radius: 3px;
  font-size: 30px;
  display: flex;
  align-items: center;
}
